name: Run Crawler

on:
  workflow_dispatch:

jobs:
  crawl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium

      - name: Install Chrome for Testing and matching ChromeDriver
          run: |
            curl -s https://googlechromelabs.github.io/chrome-for-testing/last-known-good-versions-with-downloads.json > versions.json
    
            CHROME_VERSION=$(jq -r '.channels.Stable.version' versions.json)
            DRIVER_URL=$(jq -r '.channels.Stable.downloads.chromedriver[] | select(.platform == "linux64") | .url' versions.json)
            CHROME_URL=$(jq -r '.channels.Stable.downloads.chrome[] | select(.platform == "linux64") | .url' versions.json)

            echo "Installing Chrome for Testing $CHROME_VERSION"

            wget "$CHROME_URL" -O chrome-linux.zip
            unzip chrome-linux.zip
            sudo mv chrome-linux64 /opt/chrome

            sudo ln -s /opt/chrome/chrome /usr/local/bin/google-chrome

            wget "$DRIVER_URL" -O chromedriver-linux64.zip
            unzip chromedriver-linux64.zip
            sudo mv chromedriver-linux64/chromedriver /usr/local/bin/
            sudo chmod +x /usr/local/bin/chromedriver

            google-chrome --version
            chromedriver --version





      - name: Run crawler
        run: python crawler.py

      - name: Upload PDF data
        uses: actions/upload-artifact@v4
        with:
          name: pdf-results
          path: pdf_results/
